<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asp.Net core Demo App</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">Asp.Net Core App</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about-company">about</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/">All Products</a></li>
            <li><a href="/">Search Products</a></li>
            <li><a href="/">Order Product</a></li>


        </ul>
        </div>

    <div class="page-content">
        @RenderBody()
    </div>
    </div>

</body>
</html>
